<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head" . }}

  <body id="page-top">
    {{ partial "nav" . }}
    {{ partial "hero" . }}
    {{ partial "services" . }}
    {{ partial "clients" . }}
    {{ partial "contact" . }}
    {{ partial "footer" . }}
    {{ partial "js" . }}
    <script defer src='https://cdn.slaask.com/chat.js'></script>
    <script>
        _slaask.identify('UserName', {
            user_id: 1234,
            email: 'firstname@company.com',
            plan: 'enterprise'
        });
        _slaask.init('9a73fb7e609bda0f74605a4430292781');
    </script>
  </body>
</html>
